lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.backup*

datesBeingProcessed

binaryPackets*
 
node_modules/
winstonLogs/

pids
logs
results
 
npm-debug.log

notebook_files
.ipynb_checkpoints
*.np
